#### Importamos librerías

In [1]:
import pandas as pd
import numpy as np
import vaex
import requests, zipfile, io
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By 
import time
from tqdm.notebook import tqdm
import glob
import os
import multiprocessing as mp
from multiprocessing import get_context
from dbfread import DBF

pd.set_option('display.max_columns', None)

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

C:\Users\calba\AppData\Local\Temp\ipykernel_15352\4076755805.py:6: DeprecationWarning: headless property is deprecated, instead use add_argument('--headless') or add_argument('--headless=new')
  opciones.headless=False    # si True, no aperece la ventana (headless=no visible)

# Tráfico

In [ ]:
driver = ChromeDriverManager().install()
driver = webdriver.Chrome(driver,options = opciones)

In [ ]:
url = 'https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1a5a0/?page=2&vgnextoid=33cb30c367e78410VgnVCM1000000b205a0aRCRD&vgnextchannel=374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default#resultado'

In [ ]:
driver.get(url)

time.sleep(2)

cookies = driver.find_element(By.XPATH, '//*[@id="iam-cookie-control-modal-action-primary"]')

try:
    cookies.click()
except:
    pass

time.sleep(2)

enlaces = driver.find_element(By.XPATH, '//*[@id="readspeaker"]/div[3]/div/div[1]/div/a')

try:
    enlaces.click()
except:
    pass

time.sleep(2)

links = driver.find_elements(By.XPATH, '//*[@id="readspeaker"]/div[3]/div/div[1]/ul/li/ul/li/ul/li/a')[:96]

In [ ]:
urls  = []

for i in links:
    urls.append(i.get_attribute('href'))

In [ ]:
urls

In [ ]:
%%time

count = 0

for i in urls:
    
    count += 1
    
    r = requests.get(i)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall('zips')
    
    print(count, ' descargado')

In [3]:
path = os.getcwd()
path

'C:\\Users\\calba\\OneDrive\\Desktop'

In [5]:
csv_files = glob.glob(os.path.join(path + '\\zips', "*.csv"))

In [6]:
csv_files

['C:\\Users\\calba\\OneDrive\\Desktop\\zips\\2014.csv']

In [ ]:
%%time

for i in csv_files:

    df_temp = vaex.from_csv(i, sep = ';', convert = True, chunk_size = 5_000_000, on_bad_lines='skip', low_memory=False) 

    print('File ', i.split("\\")[-1].split('.')[0], ' loaded')

In [7]:
vaex_files = glob.glob(os.path.join(path + '\\zips', "*.hdf5"))

In [8]:
df_2013 = vaex.open(vaex_files[-2])

In [9]:
df_2014 = vaex.open(vaex_files[-1])

In [10]:
df_2015 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2015.csv.hdf5')

for i in vaex_files[0::8][1:-1]:
    df = vaex.open(i)
    
    df_2015 = df_2015.concat(df)

In [38]:
df_2016 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2016.csv.hdf5')

for i in vaex_files[1::8][1:-1]:
    df = vaex.open(i)
    try:
        df.rename('id', 'idelem')
    except:
        continue
    
    df_2016 = df_2016.concat(df)

In [39]:
df_2016

#           idelem    fecha                identif    tipo_elem              intensidad    ocupacion    carga    vmed    error    periodo_integracion
0           3581      2016-01-01 09:15:00  61079      PUNTOS MEDIDA URBANOS  40            0.0          0        0.0     N        1
1           3982      2016-01-01 00:00:00  06042      PUNTOS MEDIDA URBANOS  52            0.0          2        0.0     N        13
2           4291      2016-01-01 09:15:00  16013      PUNTOS MEDIDA URBANOS  43            4.0          12       0.0     N        7
3           4200      2016-01-01 09:15:00  14002      PUNTOS MEDIDA URBANOS  52            0.0          4        0.0     N        14
4           5928      2016-01-01 09:15:00  44030      PUNTOS MEDIDA URBANOS  124           0.0          6        0.0     N        13
...         ...       ...                  ...        ...                    ...           ...          ...      ...     ...      ...
20,717,174  10045     2016-04-30 22:45:00  --         URB                    178           2.0          2        0.0     N        11
20,717,175  10045     2016-04-30 23:00:00  --         URB                    275           4.0          4        0.0     N        4
20,717,176  10045     2016-04-30 23:15:00  --         URB                    76            0.0          2        0.0     N        5
20,717,177  10045     2016-04-30 23:30:00  --         URB                    200           4.0          2        0.0     N        9
20,717,178  10045     2016-04-30 23:45:00  --         URB                    128           0.0          3        0.0     N        12

In [25]:
df_2017 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2017.csv.hdf5')

for i in vaex_files[2::8][1:9]:
    df = vaex.open(i)
    
    df_2017 = df_2017.concat(df)

for i in vaex_files[2::8][9:]:
    df = vaex.open(i) 
    df.rename('id', 'idelem')
    
    df_2017 = df_2017.concat(df)

In [27]:
df_2018 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2018.csv.hdf5')

for i in vaex_files[3::8][1:]:
    df = vaex.open(i)
    
    df_2018 = df_2018.concat(df)

In [28]:
df_2019 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2019.csv.hdf5')

for i in vaex_files[4::8][1:]:
    df = vaex.open(i)
    
    df_2019 = df_2019.concat(df)

In [29]:
df_2020 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2020.csv.hdf5')

for i in vaex_files[5::8][1:]:
    df = vaex.open(i)
    
    df_2020 = df_2020.concat(df)

In [30]:
df_2021 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2021.csv.hdf5')

for i in vaex_files[6::8][1:]:
    df = vaex.open(i)
    
    df_2021 = df_2021.concat(df)

In [31]:
df_2022 = vaex.open('C:\\Users\\calba\\OneDrive\\Desktop\\zips\\01-2022.csv.hdf5')

for i in vaex_files[7::8][1:]:
    df = vaex.open(i)
    
    df_2022 = df_2022.concat(df)

In [32]:
df_201314 = df_2013.concat(df_2014)

In [33]:
df_201314

#            identif     fecha                intensidad    ocupacion    carga    tipo    vmed    error    periodo_integracion
0            61081       2013-01-20 20:15:00  336           1            9        E       0       N        5
1            61082       2013-01-20 20:15:00  320           2            10       E       0       N        5
2            61083       2013-01-20 20:15:00  704           10           51       E       0       N        5
3            61085       2013-01-20 20:15:00  328           2            10       E       0       N        5
4            61086       2013-01-20 20:15:00  236           1            7        E       0       N        5
...          ...         ...                  ...           ...          ...      ...     ...     ...      ...
221,455,397  18RU04PM01  2014-10-30 01:15:00  0             0            0        Z       0       N        15
221,455,398  18RV21PM01  2014-10-30 01:15:00  60            1            0        Z       37      N        15
221,455,399  18XC11PM01  2014-10-30 01:15:00  312           -1           0        Z       62      N        15
221,455,400  18XC46PM01  2014-10-30 01:15:00  300           -1           0        Z       75      N        15
221,455,401  18XC82PM01  2014-10-30 01:15:00  384           0            0        Z       71      N        15

In [34]:
df_2015.drop('tipo', inplace = True)

#            idelem    fecha                identif     tipo_elem              intensidad    ocupacion    carga    vmed    error    periodo_integracion
0            1047      2015-01-01 00:00:00  03FL08PM01  494                    180           1            0        71      N        8
1            1046      2015-01-01 00:00:00  03FL08PM02  494                    45            -1           0        57      N        4
2            6703      2015-01-01 00:15:00  PM12981     494                    83            1            2        55      N        15
3            6712      2015-01-01 00:15:00  PM20002     494                    12            0            0        20      N        15
4            6652      2015-01-01 00:15:00  PM10343     494                    21            0            1        30      N        15
...          ...       ...                  ...         ...                    ...           ...          ...      ...     ...      ...
111,769,085  3897      2015-12-08 09:45:00  02053       PUNTOS MEDIDA URBANOS  128           4            11       0       N        7
111,769,086  3900      2015-12-08 09:45:00  02056       PUNTOS MEDIDA URBANOS  106           1            11       0       N        7
111,769,087  3901      2015-12-08 09:45:00  02057       PUNTOS MEDIDA URBANOS  143           1            11       0       N        6
111,769,088  5080      2015-12-08 09:45:00  02058       PUNTOS MEDIDA URBANOS  425           2            11       0       N        7
111,769,089  3902      2015-12-08 09:45:00  02059       PUNTOS MEDIDA URBANOS  474           3            18       0       N        7

In [40]:
df_201516 = df_2015.concat(df_2016)

#### intentar conseguir idelem en 201314

In [115]:
juntar = df_2015['identif', 'idelem'].groupby(['identif', 'idelem'], agg ='count')['identif', 'idelem']

In [327]:
identif = juntar.to_pandas_df(['identif', 'idelem'])

In [328]:
identif

     identif  idelem
0      17018    4350
1      32028    3596
2      32053    4583
3      32054    7024
4      33001    4585
...      ...     ...
3943   73406    6546
3944   77401    6584
3945   90024    9971
3946   30031    7103
3947   30035    5117

[3948 rows x 2 columns]

In [ ]:
df_201314['id'] = df_201314.carga

In [ ]:
str(juntar[juntar['identif'] == '61081'][0][-1])

In [ ]:
df_201314[0][-1] = str(juntar[juntar['identif'] == df_201314[0][0]][0][-1])

In [ ]:
juntar[juntar['identif'] == df_201314[i][0]][0][1]

In [ ]:
juntar[juntar['identif'] == df_201314[87654][0]][0][1]

In [ ]:
df_201314.add_column('idel', )

In [ ]:
df_201314

In [ ]:
%%time

df_201314.join(juntar, left_on = 'identif', right_on = 'identif', how = 'left', allow_duplication = True)

In [ ]:
df_201314[:222230648]

#### CREAMOS TRAFICO

In [51]:
df_2018.rename('id', 'idelem')

'idelem'

In [42]:
df_2019.rename('id', 'idelem')

'idelem'

In [43]:
df_2020.rename('id', 'idelem')

'idelem'

In [44]:
df_2021.rename('id', 'idelem')

'idelem'

In [45]:
df_2022.rename('id', 'idelem')

'idelem'

In [46]:
df_20151617 = df_201516.concat(df_2017)
df_20151617

#            idelem    fecha                identif     tipo_elem              intensidad    ocupacion    carga    vmed    error    periodo_integracion
0            1047      2015-01-01 00:00:00  03FL08PM01  494                    180           1.0          0        71.0    N        8
1            1046      2015-01-01 00:00:00  03FL08PM02  494                    45            -1.0         0        57.0    N        4
2            6703      2015-01-01 00:15:00  PM12981     494                    83            1.0          2        55.0    N        15
3            6712      2015-01-01 00:15:00  PM20002     494                    12            0.0          0        20.0    N        15
4            6652      2015-01-01 00:15:00  PM10343     494                    21            0.0          1        30.0    N        15
...          ...       ...                  ...         ...                    ...           ...          ...      ...     ...      ...
257,554,021  10291     2017-12-31 23:45:00  --          PUNTOS MEDIDA URBANOS  9             0.0          0        0.0     N        15
257,554,022  10293     2017-12-31 23:45:00  --          PUNTOS MEDIDA URBANOS  5             0.0          1        0.0     N        15
257,554,023  10294     2017-12-31 23:45:00  --          PUNTOS MEDIDA URBANOS  26            0.0          2        0.0     N        15
257,554,024  10295     2017-12-31 23:45:00  --          PUNTOS MEDIDA URBANOS  53            0.0          3        0.0     N        15
257,554,025  10296     2017-12-31 23:45:00  --          PUNTOS MEDIDA URBANOS  55            3.0          4        0.0     N        15

In [52]:
df_trafico = df_20151617.drop('identif').concat(
    df_2018.concat(
    df_2019.concat(
    df_2020.concat(
    df_2021.concat(
    df_2022)))))

In [55]:
df_trafico.drop('tipo_elem', inplace = True)

#            idelem    fecha                intensidad    ocupacion    carga    vmed
0            1047      2015-01-01 00:00:00  180.0         1.0          0.0      71.0
1            1046      2015-01-01 00:00:00  45.0          -1.0         0.0      57.0
2            6703      2015-01-01 00:15:00  83.0          1.0          2.0      55.0
3            6712      2015-01-01 00:15:00  12.0          0.0          0.0      20.0
4            6652      2015-01-01 00:15:00  21.0          0.0          1.0      30.0
...          ...       ...                  ...           ...          ...      ...
937,848,021  11058     2022-12-31 23:00:00  66.0          0.0          1.0      0.0
937,848,022  11058     2022-12-31 23:15:00  37.0          0.0          0.0      0.0
937,848,023  11058     2022-12-31 23:30:00  42.0          0.0          0.0      0.0
937,848,024  11058     2022-12-31 23:45:00  26.0          0.0          0.0      0.0
937,848,025  479309    2022-12-11 04:15:00  0.0           0.0          0.0      0.0

#### Los puntos

In [144]:
geo_trackers = pd.read_csv('pmed_ubicacion_12-2022.csv', sep = ';', on_bad_lines='skip')

In [153]:
lst_x = [round(i) for i in geo_trackers.utm_x]
lst_y = [round(i) for i in geo_trackers.utm_y]

In [156]:
geo_trackers.utm_x = lst_x
geo_trackers.utm_y = lst_y

In [160]:
geo_loc = geo_trackers[['id', 'utm_x', 'utm_y', 'longitud', 'latitud']]

In [161]:
geo_loc

        id   utm_x    utm_y  longitud    latitud
0     3840  441615  4475768 -3.688323  40.430502
1     3841  441706  4475770 -3.687256  40.430524
2     3842  441319  4474841 -3.691727  40.422132
3     3843  441302  4474764 -3.691929  40.421433
4     3844  441606  4476132 -3.688470  40.433782
...    ...     ...      ...       ...        ...
4685  6809  444065  4481586 -3.659954  40.483080
4686  6810  444068  4481594 -3.659926  40.483158
4687  6933  443003  4481709 -3.672497  40.484118
4688  7129  443003  4481716 -3.672500  40.484181
4689  7015  443020  4481807 -3.672308  40.485002

[4690 rows x 5 columns]

#### Accidentes, extracción

In [125]:
acc_2010=pd.read_csv('2010_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2011=pd.read_csv('2011_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2012=pd.read_csv('2012_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
# SOSPECHO QUE 2010, 2011 Y 2012 NO ME VAN A SERVIR DE MUESTRA
acc_2013=pd.read_csv('2013_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2014=pd.read_csv('2014_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2015=pd.read_csv('2015_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2016=pd.read_csv('2016_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2017=pd.read_csv('2017_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2018=pd.read_csv('2018_Accidentalidad.csv', sep = ';', encoding="ISO-8859-1")
acc_2019=pd.read_csv('2019_Accidentalidad.csv', sep = ';')
acc_2020=pd.read_csv('2020_Accidentalidad.csv', sep = ';')
acc_2021=pd.read_csv('2021_Accidentalidad.csv', sep = ';')
acc_2022=pd.read_csv('2022_Accidentalidad.csv', sep = ';')

In [244]:
acc1 = pd.concat([acc_2013, acc_2014, acc_2015, acc_2016, acc_2017, acc_2018], ignore_index=True)

#### LIMPIEZA

In [245]:
lst = []

for i in range(len(acc1.columns)):
    lst.append(acc1.columns[i].lower().replace(' ', '_').replace('º', ''))
acc1.columns = lst

In [252]:
acc1.lesividad.value_counts()

IL                                          89400
HL                                          70056
NO ASIGNADA                                  6553
HG                                           5908
MT                                            179
Name: lesividad, dtype: int64

In [247]:
acc2 = pd.concat([acc_2019, acc_2020, acc_2021, acc_2022], ignore_index=True)

In [255]:
acc2.lesividad.value_counts()

Sin asistencia sanitaria                                     52088
Asistencia sanitaria sólo en el lugar del accidente          22810
Ingreso inferior o igual a 24 horas                           6842
Atención en urgencias sin posterior ingreso                   4955
Asistencia sanitaria inmediata en centro de salud o mutua     4386
Asistencia sanitaria ambulatoria con posterioridad            2192
Ingreso superior a 24 horas                                   1999
Fallecido 24 horas                                             118
Se desconoce                                                     7
Name: lesividad, dtype: int64

In [257]:
acc2.drop(['cod_distrito', 'tipo_accidente', 'tipo_vehiculo', 'tipo_persona', 'rango_edad', 'sexo', 'positiva_alcohol', 'positiva_droga'], axis = 1, inplace = True)

In [263]:
acc2.drop(['lesividad'], axis = 1, inplace = True)

In [271]:
acc2.cod_lesividad.value_counts()

NO ASIGNADA    82645
IL             52088
HL             36230
HG              1999
MT               118
Name: cod_lesividad, dtype: int64

In [270]:
for i in range(len(acc2['cod_lesividad'])):
    if acc2.at[i, 'cod_lesividad'] == 1.0:
        acc2.at[i,'cod_lesividad'] = 'HL'
    elif acc2.at[i, 'cod_lesividad'] == 2.0:
        acc2.at[i,'cod_lesividad'] = 'HL'
    elif acc2.at[i, 'cod_lesividad'] == 3.0:
        acc2.at[i,'cod_lesividad'] = 'HG'
    elif acc2.at[i, 'cod_lesividad'] == 4.0:
        acc2.at[i,'cod_lesividad'] = 'MT'
    elif acc2.at[i, 'cod_lesividad'] == 5.0:
        acc2.at[i,'cod_lesividad'] = 'HL'
    elif acc2.at[i, 'cod_lesividad'] == 6.0:
        acc2.at[i,'cod_lesividad'] = 'HL'
    elif acc2.at[i, 'cod_lesividad'] == 7.0:
        acc2.at[i,'cod_lesividad'] = 'HL'
    elif acc2.at[i, 'cod_lesividad'] == 14.0:
        acc2.at[i,'cod_lesividad'] = 'IL'
    else:
        acc2.at[i,'cod_lesividad'] = 'NO ASIGNADA'

In [272]:
acc2['lesividad'] = acc2.cod_lesividad

In [274]:
acc2.drop(['cod_lesividad'], axis = 1, inplace = True)

In [276]:
acc1.columns

Index(['fecha', 'rango_horario', 'dia_semana', 'distrito', 'lugar_accidente',
       'n', 'n_parte', 'cpfa_granizo', 'cpfa_hielo', 'cpfa_lluvia',
       'cpfa_niebla', 'cpfa_seco', 'cpfa_nieve', 'cpsv_mojada', 'cpsv_aceite',
       'cpsv_barro', 'cpsv_grava_suelta', 'cpsv_hielo', 'cpsv_seca_y_limpia',
       'n_victimas_*', 'tipo_accidente', 'tipo_vehiculo', 'tipo_persona',
       'sexo', 'lesividad', 'tramo_edad'],
      dtype='object')

In [277]:
acc1.drop(['cpsv_mojada', 'cpsv_aceite',
       'cpsv_barro', 'cpsv_grava_suelta', 'cpsv_hielo', 'cpsv_seca_y_limpia',
       'n_victimas_*', 'tipo_accidente', 'tipo_vehiculo', 'tipo_persona',
       'sexo', 'tramo_edad'], axis = 1, inplace = True)

In [279]:
acc1.drop(['n_parte'], axis = 1, inplace = True)

In [282]:
acc1[['cpfa_granizo', 'cpfa_hielo', 'cpfa_lluvia',
       'cpfa_niebla', 'cpfa_seco', 'cpfa_nieve']].value_counts()

cpfa_granizo  cpfa_hielo  cpfa_lluvia  cpfa_niebla  cpfa_seco  cpfa_nieve
NO            NO          NO           NO           SI         NO            152067
                          SI           NO           NO         NO             19331
                          NO           SI           NO         NO               320
                                       NO           NO         SI               133
              SI          NO           NO           NO         NO                75
              NO          NO           SI           SI         NO                42
                          SI           NO           NO         SI                39
                                                    SI         NO                29
                                       SI           NO         NO                28
SI            NO          NO           NO           NO         NO                13
                          SI           NO           NO         NO                13
                          NO           SI           NO         NO                 3
NO            SI          NO           NO           NO         SI                 2
                                                    SI         NO                 1
dtype: int64

In [292]:
for i in range(len(acc1.meteo)):
    if acc1.at[i, 'cpfa_hielo'] == 'SI':
        acc1.at[i, 'meteo'] = 'Granizando'
    elif acc1.at[i, 'cpfa_nieve'] == 'SI':
        acc1.at[i, 'meteo'] = 'Nevando'
    elif acc1.at[i, 'cpfa_niebla'] == 'SI':
        acc1.at[i, 'meteo'] = 'Niebla'
    elif acc1.at[i, 'cpfa_granizo'] == 'SI':
        acc1.at[i, 'meteo'] = 'Granizando'
    elif acc1.at[i, 'cpfa_lluvia'] == 'SI':
        acc1.at[i, 'meteo'] = 'Lloviendo'
    else:
        acc1.at[i, 'meteo'] = 'Normal'

In [287]:
acc2.estado_meteorológico.value_counts()

Despejado         130395
Lluvia débil       10680
Nublado             9318
LLuvia intensa      2441
Se desconoce        1946
Nevando              218
Granizando            38
Name: estado_meteorológico, dtype: int64

In [306]:
acc2['meteo'] = acc2.estado_meteorológico

for i in range(len(acc2.meteo)):
    if acc2.at[i, 'estado_meteorológico'] == 'Despejado':
        acc2.at[i, 'meteo'] = 'Normal'
    elif acc2.at[i, 'estado_meteorológico'] == 'Nublado':
        acc2.at[i, 'meteo'] = 'Normal'
    elif acc2.at[i, 'estado_meteorológico'] == 'Lluvia débil':
        acc2.at[i, 'meteo'] = 'Lloviendo'
    elif acc2.at[i, 'estado_meteorológico'] == 'Lluvia intensa':
        acc2.at[i, 'meteo'] = 'Lloviendo'

In [313]:
acc2.meteo.fillna('Normal', inplace = True)

In [309]:
acc2.drop(['estado_meteorológico'], axis = 1, inplace = True)

In [316]:
acc1.drop(['cpfa_granizo', 'cpfa_hielo', 'cpfa_lluvia',
       'cpfa_niebla', 'cpfa_seco', 'cpfa_nieve'], axis = 1, inplace = True)

In [321]:
acc1.columns

Index(['fecha', 'hora', 'dia_semana', 'distrito', 'localizacion', 'numero',
       'lesividad', 'meteo'],
      dtype='object')

In [320]:
acc1.rename(columns={'n': 'numero', 'lugar_accidente': 'localizacion', 'rango_horario': 'hora'}, inplace=True)

In [325]:
accidentes = pd.concat([acc1, acc2], ignore_index = True)

In [326]:
accidentes

,fecha,hora,dia_semana,distrito,localizacion,numero,lesividad,meteo,coordenada_x_utm,coordenada_y_utm
0,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM. ...,31400,IL,Lloviendo,NaN,NaN
1,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM. ...,31400,HL,Lloviendo,NaN,NaN
2,01/01/2013,DE 00:00 A 00:59,MARTES,FUENCARRAL-EL PARDO,AUTOVIA M-30 CALZADA 1 KM. ...,31400,IL,Lloviendo,NaN,NaN
3,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL ...,0,HL,Lloviendo,NaN,NaN
4,01/01/2013,DE 00:00 A 00:59,MARTES,TETUAN,AVENIDA DE ASTURIAS - CALLE DEL CAÑAVERAL ...,0,IL,Lloviendo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
345171,29/12/2022,19:40:00,NaN,CARABANCHEL,CALL. GENERAL RICARDOS / plaza de toros,174,IL,Normal,"437453,757","4470784,586"
345172,29/12/2022,19:40:00,NaN,CARABANCHEL,CALL. GENERAL RICARDOS / plaza de toros,174,HL,Normal,"437453,757","4470784,586"
345173,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"
345174,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"
345175,12/12/2022,22:50:00,NaN,USERA,AVDA. ANDALUCIA / AVDA. PERLA,14,NO ASIGNADA,Lloviendo,"441049,284","4469136,878"

### CARGA

In [332]:
df_201314.export_hdf5(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\df_201314.hdf5')

In [333]:
df_trafico.export_hdf5(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\df_trafico.hdf5')

In [334]:
identif.to_csv(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\identif.csv')

In [335]:
acc1.to_csv(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\acc1.csv')

In [336]:
acc2.to_csv(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\acc2.csv')

In [337]:
accidentes.to_csv(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\accidentes.csv')

In [338]:
geo_loc.to_csv(r'C:\Users\calba\OneDrive\Desktop\TRAFICO\geo_loc.csv')

In [340]:
accidentes.to_sql('accidentes')

TypeError: to_sql() missing 1 required positional argument: 'con'

### A SQL

In [360]:
import sqlalchemy
import pymysql
import mysql.connector as conn
from sqlalchemy import create_engine

In [368]:
str_conn = f'mysql+pymysql://root:Qwqw1212_@localhost:3306/proyecto_acci'
cursor = create_engine(str_conn)

In [369]:
cursor

Engine(mysql+pymysql://root:***@localhost:3306/proyecto_acci)

In [370]:
accidentes.to_sql('accidentes',con=cursor, if_exists='append', index=False)

345176

In [371]:
geo_loc.to_sql('geo_loc',con=cursor, if_exists='append', index=False)

4690

In [372]:
# No puedo subir la tabla vaex a sql... la creo vacía en el dashboard por ahora.
df_trafico.to_sql('trafico',con=cursor, if_exists='append', index=False)

AttributeError: 'DataFrameLocal' object has no attribute 'to_sql'